{% extends "base.html" %}
{% load static %}
{% block extra_css_files %}
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
{% endblock extra_css_files %}
{% block extra_title %}
    Cart
{% endblock extra_title %}
{% block content %}
    <div class="content-grid">
        <h2>My Cart</h2>
        <div class="cart-area-container breakout">{% include "includes/cart-area.html" %}</div>
        <div class="grid links-div breakout font-bold">
            <a href="{% url 'checkout' %}" class="btn btn-checkout">Proceed to Checkout</a>
            <a href="{% url 'products' %}" class="btn btn-continue">Continue Shopping</a>
        </div>
    </div>
{% endblock content %}
{% block extra_js_files %}
    <script src="{% static 'cart/javascript/cart.js' %}"></script>
    <script>
    let quantity = document.querySelector(".quantity");

    window.addEventListener("DOMContentLoaded", function (e) {
   
      let maxQuantity = {{max_quantity}};
      updateQuantity(maxQuantity);
    });
    </script>
{% endblock extra_js_files %}
