{% extends "base.html" %}
{% load static %}
{% block extra_css_files %}
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
{% endblock extra_css_files %}
{% block extra_title %}
    Cart
{% endblock extra_title %}
{% block content %}
    {% csrf_token %}
    {% if items %}
        <div class="content-grid">
            <h2>My Cart</h2>
            <h3>
                Order Number <span class="transaction-id">{{ order.transaction_id }}</span>
            </h3>
            <div class="cart-area-container breakout">{% include "includes/cart_area.html" %}</div>
            <div class="grid links-div breakout font-bold">
                <a href="{% url 'checkout' %}" class="btn btn-checkout">Proceed to Checkout</a>
                <a href="{% url 'products' %}" class="btn btn-continue">Continue Shopping</a>
            </div>
        </div>
    {% else %}
        <div class="content-grid">
            <h2>Your cart is empty</h2>
            <a href="{% url 'products' %}" class="btn btn-continue">Continue Shopping</a>
        </div>
    {% endif %}
{% endblock content %}
{% block extra_js_files %}
    {% if items %}
        <script src="{% static 'cart/javascript/cart.js' %}"></script>
    {% endif %}
{% endblock extra_js_files %}
