{% extends "base.html" %}
{% load static %}
{% block extra_css_files %}
    <link rel="stylesheet"
          href="{% static 'admin_portal/css/admin_portal.css' %}">
{% endblock extra_css_files %}
{% block extra_title %}
    Admin
{% endblock extra_title %}
{% block content %}
    <div class="content-grid">
        <h2>Admin Navigation Page</h2>
        <fieldset>
            <legend>Orders</legend>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'admin_orders_view_all' %}">Update Orders</a>
                    </li>
                </ul>
            </nav>
        </fieldset>
        <fieldset>
            <legend>Products</legend>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'admin_portal_add' category='product' %}">Add Products</a>
                    </li>
                    <li>
                        <a href="{% url 'admin_portal_update' category='product' %}">Update Products</a>
                    </li>
                    <li>
                        <a href="{% url 'admin_portal_delete_products' %}">Delete Products</a>
                    </li>
                </ul>
            </nav>
        </fieldset>
    </div>
{% endblock content %}
{% block extra_js_files %}
    <script src="{% static 'admin_portal/javascript/admin_portal.js' %}"
            data-success="{% if success %}{{success}}{% endif %}"></script>
{% endblock extra_js_files %}
