.about-us-section h2 {
  text-align: center;
}

.about-us-section p {
  font-size: var(--fs-500);
}

.shop-now {
  display: grid;
  place-items: center;
  background-color: var(--primary-clr-400);
  padding: 0.5em 1em;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-size: 1.313rem;
  font-weight: 700;
}

.child-grid > .child {
  display: grid;
  gap: 1em;
  padding-block: 2em;
}

.about-us-section {
  position: relative;
  min-height: 100svh;
  container-name: child-grid-container;
  container-type: inline-size;
}

.introduction {
  min-height: 100svh;
}

.about-us-svg-div > svg {
  display: block;
  position: absolute;
  left: -900px;
  top: -500px;

  width: 3500px;
  height: 2569px;
  isolation: isolate;
  z-index: -2;
}

.about-us-section {
  isolation: isolate;
  position: relative;
  z-index: -1;
}

.intro-grid > .child {
  /* grid to ensure the "shop now" button is full width */
  /* 1px min max to  1px is to ensure always set to min-content height*/
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(1px, min-content));
  align-self: center;
}

.child-grid {
  padding-inline: 1em;
  color: white;
}

.call-to-action-section .h2 {
  color: white;
}

@container child-grid-container (width >= 800px) {
  .child-grid {
    --breakout-max-width: 1600px;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    max-width: var(--breakout-max-width);
    margin-inline: auto;

    position: inherit;
  }

  .child-grid > .child {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(1px, min-content));
    align-self: start;
    gap: 2em;
    max-width: 60ch;
    margin-left: 2em;
  }
}

@container content-grid-container (width >= 600px) {
  .intro-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }

  .mix-blend-difference {
    color: white;
    padding-bottom: 3em;
  }
}

/* @media (width < 1000px) {
  .about-us-svg-div {
    display: none;
  }
}

@media (width >= 1000px) {
} */
