{% extends "base.html" %}
{% load static %}
{% block extra_css_files %}
    <link rel="stylesheet"
          href="{% static 'customer_profile/css/customer_profile.css' %}">
{% endblock extra_css_files %}
{% block extra_title %}
{% endblock extra_title %}
{% block content %}
    <section class="content-grid">
        <form method="post" id="profile-form">
            {% csrf_token %}
            <fieldset>
                <legend>Update Profile Form</legend>
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                    <!--form-group-->
                {% endfor %}
            </fieldset>
            <div class="btn-div">
                <button type="reset">Reset</button>
                <button type="submit" class="submit-btn-profile">Submit</button>
            </div>
            <!--btn-div-->
        </form>
    </section>
    <!--content-grid-->
{% endblock content %}
{% block extra_js_files %}
    <script src="{% static 'customer_profile/javascript/customer_profile.js' %}"></script>
{% endblock extra_js_files %}
