{% extends "base.html" %}
{% load static %}
{% block extra_css_files %}
    <link rel="stylesheet" href="{% static 'home/home.css' %}">
{% endblock extra_css_files %}
{% block extra_title %}
    Home
{% endblock extra_title %}
{% block content %}
    <section class="introduction content-grid" aria-label="introduction">
        <div class="intro-grid">
            <div class="child ">
                <h1 class="h1">We love sharing experiences with our loved ones and we make treats especially for those times.</h1>
                <p>
                    From our warm, crusty croissant to our decadent, melt-in-your-mouth pastries, every item is made with love and care. Whether you're looking for a sweet treat to indulge in, or a hearty loaf to complete your meal.
                </p>
                <p>Bob's and Bab's Bakery has something for everyone. Come in and experience the joy of homemade baking today.</p>
                <a href="#" class="shop-now">Shop here</a>
            </div>
            <div class="child">
                <img src="{% static 'home/images/doughnut-top-min.png' %}"
                     alt="Top view of a doughnut with white glazing and orange glazing drizzled over it">
            </div>
        </div>
    </section>
    <section aria-label="about Bob's and Bab's Bakery" class="about-us-section  ">
        <div class="about-us-svg-div  " role="presetation">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2282.664 2090.28">
                <defs>
                <filter id="a" width="2282.664" height="2090.28" x="0" y="0" filterUnits="userSpaceOnUse">
                <feOffset dy="20" />
                <feGaussianBlur result="blur" stdDeviation="20" />
                <feFlood flood-opacity=".31" />
                <feComposite in2="blur" operator="in" />
                </filter>
                <filter id="b" width="2282.664" height="2090.28" x="0" y="0" filterUnits="userSpaceOnUse">
                <feOffset dy="20" />
                <feGaussianBlur result="blur-2" stdDeviation="15" />
                <feFlood flood-color="#fff" flood-opacity=".169" result="color" />
                <feComposite in="SourceGraphic" in2="blur-2" operator="out" />
                <feComposite in="color" operator="in" />
                <feComposite in2="SourceGraphic" operator="in" />
                </filter>
                </defs>
                <g data-type="innerShadowGroup">
                <g filter="url(#a)">
                <path fill="#4f4f4f" stroke="#707070" d="M154.531 2009.246c203.562-27.052 59.289-621.714 300.809-492.453s432.244-400.978 651.408-266.981 558.7 27.254 639.983-52.8 181.709 202.268 262.789-76.654 127.59-83.229 119.641-4.875 43.558-82.093 34.067-238.469-108.633-247.831 31.389-570.857-289.569 65.863-483.751-91.981-225.978-95.388-406.532-21.576-449.684 118.1-838.047-73.812S183.531 141.5 168.768 190.33s-58.789 214.657-16.628 334.659-10.841 211.477-10.841 354.182-190.33 1157.126 13.232 1130.075Z" data-name="Path 195" />
                </g>
                <path fill="#4f4f4f" d="M154.531 2009.248c203.562-27.052 59.289-621.714 300.809-492.453s432.244-400.978 651.408-266.981 558.7 27.254 639.983-52.8 181.709 202.268 262.789-76.654 127.59-83.229 119.641-4.875 43.558-82.093 34.067-238.469-108.633-247.831 31.389-570.857-289.569 65.863-483.751-91.981-225.978-95.388-406.532-21.576-449.684 118.1-838.047-73.812-282.756 22.712-297.519 71.542-58.789 214.657-16.628 334.659-10.841 211.477-10.841 354.182-190.33 1157.126 13.232 1130.075Z" data-name="Path 195" />
                <g filter="url(#b)">
                <path fill="#fff" d="M154.531 2009.246c203.562-27.052 59.289-621.714 300.809-492.453s432.244-400.978 651.408-266.981 558.7 27.254 639.983-52.8 181.709 202.268 262.789-76.654 127.59-83.229 119.641-4.875 43.558-82.093 34.067-238.469-108.633-247.831 31.389-570.857-289.569 65.863-483.751-91.981-225.978-95.388-406.532-21.576-449.684 118.1-838.047-73.812S183.531 141.5 168.768 190.33s-58.789 214.657-16.628 334.659-10.841 211.477-10.841 354.182-190.33 1157.126 13.232 1130.075Z" data-name="Path 195" />
                </g>
                <path fill="none" stroke="#707070" d="M154.531 2009.248c203.562-27.052 59.289-621.714 300.809-492.453s432.244-400.978 651.408-266.981 558.7 27.254 639.983-52.8 181.709 202.268 262.789-76.654 127.59-83.229 119.641-4.875 43.558-82.093 34.067-238.469-108.633-247.831 31.389-570.857-289.569 65.863-483.751-91.981-225.978-95.388-406.532-21.576-449.684 118.1-838.047-73.812-282.756 22.712-297.519 71.542-58.789 214.657-16.628 334.659-10.841 211.477-10.841 354.182-190.33 1157.126 13.232 1130.075Z" data-name="Path 195" />
                </g>
            </svg>
        </div>
        <div class="child-grid" id="child-grid">
            <div class="child-img">
                <img src="{% static 'home/images/subtraction-image-hero-min.png' %}"
                     alt=""
                     srcset=""
                     class="">
            </div>
            <div class=" mix-blend-difference child">
                <h2 class="h2 about-us-h2">About Bob's and Bab's Bakery</h2>
                <p>
                    Welcome to Bob's and Bab's Bakery, a cherished cornerstone of the Irish community. Nestled in the heart of Ireland, our bakery has been serving up the warmest, freshest, and most delicious baked goods since 1990. Bob and Bab, a dynamic duo with a shared passion for baking, founded our bakery with a simple mission: to bring joy to people's lives through the art of baking. Today, we continue to uphold this mission, using traditional Irish recipes passed down through generations, combined with a touch of modern innovation. Our bakery is more than just a place to grab a quick bite; it's a gathering spot for the community, a place where memories are made, and, above all, a testament to the power of good food to bring people together. Come in for a taste of Ireland, stay for the warmth and hospitality.
                </p>
            </div>
        </div>
    </section>
    <section class="call-to-action-section content-grid ">
        <h2 class="h2">We are getting hungry, what about you?</h2>
        <div class="intro-grid">
            <div class="child">
                <p>Order online and have your treats delivered right to your door.</p>
                <p>
                    Whether you are looking for the perfect crispy croissant or hearthy sourdough, Bob & Babs have you covered. We now offer our treats and sweets online and they can be sent right to your front door. Why not give our online shop a go, we are confident you will find exactly what you want.
                </p>
                <a href="#" class="shop-now">Shop here</a>
            </div>
            <div class="child">
                <img src="{% static 'home/images/cinnamon-swirl-min.png' %}"
                     alt="A cinnamon swirl with a bite taken out of it and sugar crystals sprinkled on top">
            </div>
        </div>
    </section>
    <section class="contact-us-section">
    </section>
{% endblock content %}
{% block extra_js_files %}
    <script src="{% static 'home/home.js' %}"></script>
{% endblock extra_js_files %}
