{% extends "base.html" %}
{% load static %}
{% block extra_css_files %}
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
    {% comment %} pulling above css for cart component {% endcomment %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock extra_css_files %}
{% block extra_title %}
    Checkout
{% endblock extra_title %}
{% block content %}
    <div class="content-grid">
        <section class="confirm-order ">
            <h2 class="counter">Confirm Order</h2>
            {% include "includes/cart_area.html" %}
        </section>
        <!--confirm-order -->
        <section>
            <h2>Delivery</h2>
            <p>
                If you wish to have our treats delivered to your door,
                there will be a delivery charge added to your order:
            </p>
            <div class="delivery-flex">
                <div class="delivery-options">
                    <label for="collection">Store pick-up</label>
                    <input type="radio"
                           name="delivery"
                           id="collection"
                           value="collection"
                           class="delivery-method-radio">
                </div>
                <!--delivery-options-->
                <div class="delivery-options">
                    <label for="delivery">Home Delivery</label>
                    <input type="radio"
                           name="delivery"
                           id="delivery"
                           value="delivery"
                           class="delivery-method-radio">
                </div>
                <!--delivery-options-->
            </div>
            <!--delivery-flex-->
            <div class="delivery-wrapper">
                <div class="charge">
                    <p>Delivery Charge:</p>
                    <p class="delivery-charge-price">
                        <data value="{{ order.delivery_fee | floatformat:2 }}">€{{ order.delivery_fee | floatformat:2 }}</data>
                    </p>
                </div>
                <!--charge-->
                <div class="subtotal-wrapper">
                    <div class="subtotal-inc-delivery">
                        <p>Total:</p>
                        <p class="total-checkout-price">
                            <data value="{{ order.get_cart_total | floatformat:2 }}">€{{ order.get_cart_total | floatformat:2 }}</data>
                        </p>
                    </div>
                    <!--subtotal-inc-delivery-->
                </div>
                <!--subtotal-wrapper-->
            </div>
            <!--delivery-wrapper-->
        </section>
        <section counter="">
            <h2 class="counter">Personal Details</h2>
            {% if form %}
                <form class="delivery-form" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                        </div>
                        <!--form-group-->
                    {% endfor %}
                </form>
            {% else %}
            {% endif %}
        </section>
        <section>
            <h2>Payment</h2>
            <form action="{% url 'charge' order.transaction_id %}"
                  method="post"
                  id="payment-form">
                {% csrf_token %}
                <div class="form-row">
                    <label for="full-name">
                        Name on Card:
                        <input id="full-name"
                               name="full-name"
                               type="text"
                               placeholder="John Doe"
                               required="">
                    </label>
                    <label for="email">
                        Email
                        <input id="email"
                               name="email"
                               type="email"
                               placeholder="john.doe@example.com"
                               required="">
                    </label>
                    <label for="card-element">
                        Credit or debit card
                        <div id="card-element">
                            <!-- A Stripe Element will be inserted here. -->
                        </div>
                    </label>
                </div>
                <!--form-row-->
                <button type="Submit" role="Submit" id="submit-btn">Submit Payment</button>
            </form>
        </section>
    </div>
    <!--content-grid-->
{% endblock content %}
{% block extra_js_files %}
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'checkout/javascript/checkout.js' %}"></script>
{% endblock extra_js_files %}
