/* ---------------------- */
/* Comment Content        */
/* ---------------------- */

@layer base {
  :root {
    /* fonts weights and font sizes */
    --fs-400: 1rem;
    --fw-regualar: 400;
    --fw-bold: 700;

    /* font family */
    --primary-font: Verdana, Geneva, Tahoma, sans-serif;
    --secondary-font: "Courier New", Courier, monospace;
    /* Colors: */
    --primary-clr-400: #191515;
    --primary-clr-300: #707070;
    --primary-clr-500: #885050;
    --primary-clr-100: #ffffff;
  }
  body {
    font-family: var(--primary-font);
    font-size: var(--fs-400);
  }

  h1,
  h2 h3,
  h4,
  h5,
  h6 {
    font-family: "Open Sans", sans-serif;
  }

  /* reminders */
  .container {
    width: min(100% - 3rem, 1500px);
    margin-inline: auto;
  }

  p {
    max-width: 75ch;
  }

  h1 {
    font-size: clamp(2rem, 1.75rem + 1.25vw, 3rem);
    font-weight: 700;
  }

  h2 {
    font-size: clamp(1.5rem, 1.25rem + 1.25vw, 2.5rem);
    font-weight: 600;
  }

  h3,
  h4,
  h4,
  h5,
  h6 {
    font-size: clamp(1.125rem, 0.9063rem + 1.0938vw, 2rem);
    font-weight: 500;
  }

  ::selection {
    background-color: var(--primary-clr-400, #000000);
    color: var(--primary-clr-100);
  }
}

.nav-wrapper {
  background-color: var(--primary-clr-100);
  color: var(--primary-clr-400, #000000);
  font-family: var(--secondary-font);
  font-weight: var(--fw-bold);
}

.nav,
.login-cart-area ul {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 1em;
}

.nav {
  padding-block: 3em;
}

.nav a {
  text-decoration: none;
  font: inherit;
  font-size: 1.25rem;
  color: inherit;
}

a > svg {
  fill: currentColor;
  height: 1em;
  width: 1em;
}

.dipslay-none {
  display: none;
}

@media (width <= 600px) {
  .nav-ul {
    margin-block: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    height: 100vh;
    width: 50vw;
    padding-block: 3em;
    background-color: var(--primary-clr-100);
    display: grid;
    justify-content: center;
    transform: translateX(-100%);
    transition: transform 100ms ease-in-out;
  }

  .nav-open {
    transform: translateX(0);
    transition: transform 100ms ease-in-out;
  }

  body :has(.nav-open) {
    overflow: hidden;
  }

  .nav-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
  }

  .nav-btn {
    --nav-size: 50px;
    justify-self: end;
    align-self: self-start;
    height: var(--nav-size);
    width: var(--nav-size);
    margin-right: 2em;
  }

  .nav-btn > svg {
    fill: var(--primary-clr-400, #000000);
    margin-top: 1em;
  }
}

@media (width > 600px) {
  .nav-ul {
    display: flex;
    gap: 1em;
  }

  .nav-btn {
    display: none;
  }
}
