/* ---------------------- */
/* Base Styles            */
/* ---------------------- */

/* Define root variables for fonts, font sizes, font weights, and colors */

:root {
  /* font weights and font sizes */
  --fs-400: 1rem;
  --fw-regualar: 400;
  --fw-bold: 700;

  /* font family */
  --primary-font: Verdana, Geneva, Tahoma, sans-serif;
  --secondary-font: "Courier New", Courier, monospace;

  /* Colors: */
  --primary-bg-clr: #c7c8c3;
  --primary-clr-400: #191515;
  --primary-clr-300: #707070;
  --primary-clr-500: #885050;
  --primary-clr-100: #ffffff;
}

body {
  font-family: var(--primary-font);
  font-size: var(--fs-400);
  background-color: var(--primary-bg-clr);
  color: var(--primary-clr-400);
}
/* Apply font styles to headings */

h1,
h2 h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  line-height: 1;
}
/* Define grid layout for content */

.content-grid {
  --padding-inline: 1rem;
  --content-max-width: 900px;
  --breakout-max-width: 1200px;

  --breakout-size: calc(
    (var(--breakout-max-width) - var(--content-max-width)) / 2
  );

  display: grid;
  grid-template-columns:
    [full-width-start] minmax(var(--padding-inline), 1fr)
    [breakout-start] minmax(0, var(--breakout-size))
    [content-start] min(
      100% - (var(--padding-inline) * 2),
      var(--content-max-width)
    )
    [content-end]
    minmax(0, var(--breakout-size)) [breakout-end]
    minmax(var(--padding-inline), 1fr) [full-width-end];
}

.content-grid > :not(.breakout, .full-width),
.full-width > :not(.breakout, .full-width) {
  grid-column: content;
}

.content-grid > .breakout {
  grid-column: breakout;
}

.content-grid > .full-width {
  grid-column: full-width;

  display: grid;
  grid-template-columns: inherit;
}

p {
  max-width: 75ch;
}

h1 {
  font-size: clamp(2rem, 1.75rem + 1.25vw, 3rem);
  font-weight: 700;
}

h2 {
  font-size: clamp(1.5rem, 1.25rem + 1.25vw, 2.5rem);
  font-weight: 600;
}

h3,
h4,
h4,
h5,
h6 {
  font-size: clamp(1.125rem, 0.9063rem + 1.0938vw, 2rem);
  font-weight: 500;
}

::selection {
  background-color: var(--primary-clr-400, #000000);
  color: var(--primary-clr-100);
}

.branding-link-logo {
  height: calc(clamp(1.5rem, 1.0932rem + 2.0339vw, 3rem) * 2);
  aspect-ratio: 1/1;
}

.icon {
  height: 3em;
  aspect-ratio: 1/1;
}

.nav-wrapper {
  background-color: var(--primary-clr-100);
  color: var(--primary-clr-400, #000000);
  font-family: var(--secondary-font);
  font-weight: var(--fw-bold);

  padding-block: 1rem;
}

.nav-container {
  width: min(100% - 3rem, 1500px);
  margin-inline: auto;
}

.nav a {
  text-decoration: none;
  font: inherit;
  font-size: 1.25rem;
  color: inherit;
}

.nav-btn {
  cursor: pointer;
}

.display-none {
  display: none;
}

body:has(.nav-open) {
  overflow: hidden;
}

@media (width <= 600px) {
  .nav-ul {
    margin-block: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    height: 100vh;
    width: 80vw;
    padding-block: 3em;
    background-color: var(--primary-clr-100);
    display: grid;
    justify-content: center;
    transform: translateX(-150%);
    transition: transform 300ms linear;
  }

  .nav-open {
    transform: translateX(-3rem);
    transition: transform 300ms linear;
  }

  .nav-wrapper {
    display: grid;
    grid-template-columns: 1fr 50px;
    align-items: center;
  }

  .nav {
    display: grid;
    grid-template-columns: 100px 100px;
    gap: 1em;
  }

  .logo-ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .logo-ul > li {
    align-self: center;
  }
  .nav-btn {
    --nav-size: 30px;
    justify-self: end;
    align-self: self-start;
    height: var(--nav-size);
    width: var(--nav-size);
    margin-right: 2em;
  }
  .nav-container {
    align-self: self-start;
  }
}

@layer {
  header {
    position: sticky;
    top: 0;
    isolation: isolate;
    z-index: 1;
  }

  nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;
  }

  .branding-link-logo {
    justify-self: start;
  }
  .nav-ul {
    justify-self: center;
  }

  .logo-ul {
    justify-self: end;
    align-self: center;
    display: flex;
  }

  .box-shadow-show {
    box-shadow: 0px 30px 20px #00000029;
  }
}

@media (width > 600px) {
  .nav-ul {
    display: flex;
    gap: 1em;
  }

  .nav-btn {
    display: none;
  }
}
