{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="color-scheme" content="dark light" />
        <!-- Fill these out -->
        <meta name="description"
              content="Bobs & Babs Bakery - Offering a wide variety of fresh, homemade breads, pastries, and cakes. Visit us for a delightful and delicious experience.">
        <meta name="keywords"
              content="Bobs & Babs Bakery, Irish Bakery, Fresh Bread, Homemade Pastries, Cakes, Ireland">
        <meta name="author" content="Bob" />
        <link rel="shortcut icon"
              href="{% static 'images/bobs-logo.svg' %}"
              type="image/x-icon">
        <!-- css -->
        <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        {% block extra_css_files %}
        {% endblock extra_css_files %}
        <title>Bobs & Babs Bakery |
            {% block extra_title %}
            {% endblock extra_title %}
        </title>
    </head>
    <body>
        <header>
            <!-- screen reader / tab only -->
            <a href="#main" class="visually-hidden">skip to content</a>
            <div class="nav-wrapper">
                <div class="nav-container">
                    <nav class="nav">
                        <div class="branding">
                            <a href="{% url 'index' %}" class="branding-link">
                                <svg class="branding-link-logo">
                                    <title>Bob's and Bab's Bakery Logo</title>
                                    <use xlink:href="{% static 'images/bobs-logo.svg' %}#bobs-branding-logo"></use>
                                </svg>
                            </a>
                        </div>
                        <ul class="nav-ul" role="list">
                            {% if not request.user.is_superuser %}
                                <li>
                                    <a href="{% url 'index' %}#about-us" id="about-us-link">About</a>
                                </li>
                                <li>
                                    <a href="{% url 'products' %}">Shop</a>
                                </li>
                                {% if request.user.is_authenticated %}
                                    <li>
                                        <a href="{% url 'account_logout' %}">Logout</a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="{% url 'account_signup' %}">Sign Up</a>
                                    </li>
                                {% endif %}
                            {% else %}
                                {% if request.user.is_superuser %}
                                    <li>
                                        <a href="{% url 'admin_portal' %}">Admin Sutff</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'account_logout' %}">Logout</a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        </ul>
                        <!-- Logo list -->
                        <ul role="list" class="logo-ul">
                            {% if request.user.is_authenticated %}
                                <li>
                                    <a href="{% url 'customer-portal' %}" class="logo-link">
                                        <svg class="branding-link-logo icon margin-top-2px">
                                            <title>icon of a silhouette of a person used to go to the login page</title>
                                            <use xlink:href="{% static 'images/login-logo.svg' %}#login-logo-svg"></use>
                                        </svg>
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{% url 'account_login' %}" class="logo-link">
                                        <svg class="branding-link-logo icon margin-top-2px">
                                            <title>icon of a silhouette of a person used to go to the login page</title>
                                            <use xlink:href="{% static 'images/login-logo.svg' %}#login-logo-svg"></use>
                                        </svg>
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <!-- Cart link -->
                                <a href="{% url 'cart' %}" class="logo-link">
                                    <svg class="branding-link-logo icon">
                                        <title>icon of a silhouette of a cart used to go to the cart page</title>
                                        <use xlink:href="{% static 'images/cart-icon.svg' %}#cart-icon-svg"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>

                </nav>
            </div>
                    <div class="nav-btn">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 448 512"
                             class="menu-icon">
                            <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
                            <path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
                        </svg>
                    </div>
                </div>
            </header>
            <main id="main">
                {% block content %}
                {% endblock content %}
            </main>
            <!-- JS -->
            <footer class="content-grid">
                <div class="copyright">copyRight</div>
            </footer>
            <script src="{% static 'javascript/base.js' %}"></script>
            {% block extra_js_files %}
            {% endblock extra_js_files %}
        </body>
    </html>
