{% extends "base.html" %}
{% load static %}
{% block extra_css_files %}
        <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock extra_css_files %}
{% block extra_title %}
        Products
{% endblock extra_title %}
{% block content %}
        <section class="content-grid">
                <div class="product-grid grid-container--fill ">
                        {% for product in products %}
                                <div class="product grid-container card">
                                        <div class="card-inner">
                                                <div class="product-image card-front">
                                                        {% if product.image_description %}<img src="{{ product.image.url }}" alt="{{ product.image_description }}">{% endif %}
                                                </div>
                                                <div class="product-info card-back">
                                                        <h2>{{ product.name }}</h2>
                                                        <p class="price-p">
                                                                Price: <data value="{{ product.price | floatformat:2 }}">€{{ product.price | floatformat:2 }}</data>
                                                        </p>
                                                        <a href="{% url 'product-detail' product.slug %}" class="more-info">More Information</a>
                                                </div>
                                        </div>
                                </div>
                        {% endfor %}
                </div>
        </section>
{% endblock content %}
{% block extra_js_files %}
        <script src="{% static 'products/javascript/products.js' %}"></script>
{% endblock extra_js_files %}
